.textBg1 {
    /* background-image: linear-gradient(90deg, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96); */
    /* background-size: 200% 100%; */
    /* 文字渐变的关键属性 */
    /* 文字填充色透明 */
    /* -webkit-text-fill-color: transparent; */
    /* 背景按文字裁剪 chrome私人用品 */
    /* -webkit-background-clip: text; */
    /* animation: text1MaskedAnimation 3s infinite linear; */
}

@-webkit-keyframes text1MaskedAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.text2 {
    /* font-size: 30px; */
    /* display: inline-block; */
    /* color: transparent; */
    /* background-image: linear-gradient(90deg, skyblue, red); */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
}

@media print {
    .text2 {
        font-size: 30px;
        display: inline-block;
        color: transparent;
        background-image: linear-gradient(90deg, skyblue, red);
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.margin100 {
    margin: 1300px 0;
    font-size: 100px;
}